<div class="contact">
    <div class="container contact__wrap">
        <div class="contact-forms">
            <h2 class="contact-forms__text">GIVE US A GOOD NEWS</h2>
            <input class="contact-forms__input" type="text" placeholder="Name">
            <input class="contact-forms__input" type="email" name="email" id="#" placeholder="Email">
            <input class="contact-forms__input" type="text" rows="10" placeholder="Subject">
            <textarea class="contact-forms__textarea" name="Your Massage" id="#" cols="30" rows="10"
                placeholder="Your Massage"></textarea>
                <div class="contact-bottom"><button class="contact-bottom__btn">SUBMIT</button></div>
        </div>
        <div class="contact-client">
            <h2 class="contact-client__text">OUR HAPPY CLIENT</h2>
            <div class="contact-client__pictures">
                <div class="contact-client__logo"><img class="contact-client__images"
                        src="images/Calvin_klein_logo.svg.png" alt="Calvin kline"></div>
                <div class="contact-client__logo"><img class="contact-client__images" src="images/Converse_logo.svg.png"
                        alt="Converse"></div>
                <div class="contact-client__logo"><img class="contact-client__images" src="images/Billabong.svg.png"
                        alt="Billabong"></div>
                <div class="contact-client__logo"><img class="contact-client__images"
                        src="images/1280px-Levi's_logo.svg.png" alt="Levi's"></div>
                <div class="contact-client__logo"><img class="contact-client__images"
                        src="images/1280px-Logo_NIKE.svg.png" alt="Nike"></div>
                <div class="contact-client__logo"><img class="contact-client__images"
                        src="images/1280px-Gucci_Logo.svg.png" alt="Gucci"></div>
                <div class="contact-client__logo"><img class="contact-client__images"
                        src="images/1280px-Barneys_New_York_Logo.svg.png" alt="Barneys"></div>
                <div class="contact-client__logo"><img class="contact-client__images" src="images/Zara_Logo.svg.png"
                        alt="Zara"></div>
                <div class="contact-client__logo"><img class="contact-client__images" src="images/Puma_Logo.svg.png"
                        alt="Puma"></div>
                <div class="contact-client__logo"><img class="contact-client__images"
                        src="images/Logo_of_Mango_(new).svg.png" alt="Mango"></div>
            </div>
            
        </div>

    </div>