<div class="expertise">
    <div class="container expertise__wrap">
        <div class="expertise-title">
            <h2 class="expertise-title__title">EXPERTISE</h2>
            <p class="expertise-title__subtitle">Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
        </div>
        <div class="expertise-items">
            <div class="expertise-items__web"><img class="expertise__images" src="images/web.png" alt="web">
                <h3 class="expertise-items__title">WEB DESIGN & DEVELOPMENT</h3>
                <p class="expertise-items__subtitle">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh
                    vel velit auctor aliquet Aenean.</p>
            </div>
            <div class="expertise-items__web"><img class="expertise__images" src="images/branding.png" alt="branding">
                <h3 class="expertise-items__title">BRANDING IDENTITY</h3>
                <p class="expertise-items__subtitle">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh
                    vel velit auctor aliquet Aenean.</p>
            </div>
            <div class="expertise-items__web"><img class="expertise__images" src="images/mobile.png" alt="mobile">
                <h3 class="expertise-items__title">MOBILE APP</h3>
                <p class="expertise-items__subtitle">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh
                    vel velit auctor aliquet Aenean.</p>
            </div>
            <div class="expertise-items__web"><img class="expertise__images" src="images/search.png" alt="search">
                <h3 class="expertise-items__title">SEARCH ENGINE OPTIMIZATION</h3>
                <p class="expertise-items__subtitle">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh
                    vel velit auctor aliquet Aenean.</p>
            </div>
            <div class="expertise-items__web"><img class="expertise__images" src="images/game.png" alt="game">
                <h3 class="expertise-items__title">GAME DEVELOPMENT</h3>
                <p class="expertise-items__subtitle">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh
                    vel velit auctor aliquet Aenean.</p>
            </div>
            <div class="expertise-items__web"><img class="expertise__images" src="images/made.png" alt="made">
                <h3 class="expertise-items__title">MADE WITH LOVE</h3>
                <p class="expertise-items__subtitle">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh
                    vel velit auctor aliquet Aenean.</p>
            </div>
        </div>
    </div>

</div>