<footer class="footer">
    <div class="container footer__wrap">
        <div class="footer-top">
           
        </div>
        <div class="footer-center">
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__text">
                <div class="footer-bottom__help">
                    <h3>HELP</h3>
                </div>
                <div class="footer-bottom__help">
                    <h3>TERMS & CONDITION</h3>
                </div>
                <div class="footer-bottom__help">
                    <h3>PRIVACY</h3>
                </div>
            </div>
            <div class="footer-bottom__copyright">
                <p> Copyright &copy; 2015 - Tajam Creative</p>
            </div>
        </div>
    </div>
    </div>
</footer>