<footer class="footer">
   <div class="container footer__wrap"> <div class="footer-main">
        <div class="footer-left">
            <div class="footer-left__logo"><img src="images/tajam.png" alt="Logo tajam">
            </div>
            <div class="footer-left__sub">
                <p class="footer-left__subtitle">Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                    sem
                    nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit</p>
            </div>
        </div>
        <div class="footer-center">
            <div class="footer-center__text">
                <h2>OUR STUDIO</h2>
            </div>
            <div class="footer-center__address">
                <p><img src="images/big104.png" alt="address">Ruko cucruk, Jl. Radio luar
                    dalem jos No.12 - 13, Kalideres - Jakarta Barat
                    11480 - Indonesia
                </p>
                <p class="footer-center__phone"><img src="images/phone351.png" alt="phone">(+62) 21-2224 3333</p>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-right__title">
                <h2>STAY IN TOUCH</h2>
            </div>
            <div class="footer-right__items">
               <div class="footer-right__forms"> <input class="footer-right__form" type="text"
                    placeholder="Subscribe our newsletter"><button class="footer-right__btn"><img
                        src="images/paper122.png" alt="paper"></button></div>

                <div class="footer-right__social"><img class="footer-right__images" src="images/twitter16.png"
                        alt="twitter">
                    <img class="footer-right__images" src="images/dribbble4.png" alt="dribble"><img
                        class="footer-right__images_min" src="images/facebook25.png" alt="facebook"><img
                        class="footer-right__images" src="images/google26.png" alt="google"><img
                        class="footer-right__images" src="images/instagram3.png" alt="instagram"><img
                        class="footer-right__images" src="images/youtube13.png" alt="youtube">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom__text">
            <div class="footer-bottom__help">
                <h3>HELP</h3>
            </div>
            <div class="footer-bottom__help">
                <h3>TERMS & CONDITION</h3>
            </div>
            <div class="footer-bottom__help">
                <h3>PRIVACY</h3>
            </div>
        </div>
        <div class="footer-bottom__copyright">
            <p> Copyright &copy; 2015 - Tajam Creative</p>
        </div>
    </div>
    </div>
    </div>
</div>
</footer>