<header class="header">
    <div class="container header__wrap">
        <div class="header-navbar">
            <div class="header-navbar__logo">
                <img src="images/tajam.png" alt="tajem logo">
            </div>
            <nav class="header-navbar__menu"><a class="header__link active" href="#">HOME</a><a class="header__link"
                    href="#">ABOUT</a><a class="header__link" href="#">EXPERTISE</a><a class="header__link"
                    href="#">TEAMS</a><a class="header__link" href="#">WORKS</a><a class="header__link" href="#">PEOPLE
                    SAY</a><a class="header__link" href="#">CONTACT</a></nav>
        </div>
        <div class="header-main">
                <h1 class="header-main__title">We Are Awesome Creative Agency</h1>
                <p class="header-main__subtitle">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                    velit
                    auctor aliquet.
                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id
                    elit.
                    Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                <div class="header-button"><button class="header-button__btn">LEARN MORE</button></div>
        </div>
    </div>

</header>