<div class="team">
    <div class="container team__wrap">
        <div class="team-title">
            <h2 class="team-title__title">MEET OUR AMAZING TEAM</h2>
            <p class="team-title__subtitle">Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
        </div>
        <div class="team-items">
            <div class="team-items__photo"><img src="images/white.png" alt="semf">
                <p class="team-items__title">SEMF UCUK <br> CEO & FOUNDER</p>
            </div>
            <div class="team-items__photo"><img src="images/white.png" alt="dik">
                <p class="team-items__title">DIK ADALIN <br> ENGINEERING</p>
            </div>
            <div class="team-items__photo"><img src="images/white.png" alt="jeng">
                <p class="team-items__title">JENG KOL <br>DESIGNER</p>
            </div>
            <div class="team-items__photo"><img src="images/white.png" alt="pet">
                <p class="team-items__title">PET ROMAK <br>MARKETING</p>
            </div>
        </div>
        <div class="team-bottom">
            <h3 class="team-bottom__title">Become part of our dream team, let’s join us ! </h3>
            <button class="team-bottom__btn">WE ARE HIRING</button>
        </div>
    </div>
</div>