<div class="testimonial">
    <div class="container testimonial__wrap">
        <div class="testimonial-text">
            <p class="testimonial-text__subtitle">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel
                velit
                auctor
                aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                nibh
                id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam
                nec
                tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
        </div>
        <div class="testimonial-picture">
            <div class="testimonial-picture__humans"><img src="images/human 1.png" alt="human 1"></div>
            <div class="testimonial-picture__humans"><img src="images/human 2.png" alt="human 2"></div>
            <div class="testimonial-picture__humans"><img src="images/human 3.png" alt="human 3"></div>
            <div class="testimonial-picture__humans"><img src="images/human 4.png" alt="human 4"></div>
            <div class="testimonial-picture__humans"><img src="images/human 5.png" alt="human 5"></div>
        </div>
    </div>

</div>