<div class="works">
    <div class="container works__wrap">
        <div class="works-title">
            <h2 class="works-title__title">OUR WORKS</h2>
            <p class="works-title__subtitle">See All Project in dribbble &gt;</p>
        </div>
        <div class="works-items">
            <div><img class="works-items__images" src="images/gray 1.png" alt="gray 1"></div>
            <div><img class="works-items__images" src="images/gray 2.png" alt="gray 2"></div>
            <div><img class="works-items__images" src="images/gray 3.png" alt="gray 3"></div>
            <div><img class="works-items__images" src="images/gray 4.png" alt="gray 4"></div>
            <div><img class="works-items__images" src="images/gray 5.png" alt="gray 5"></div>
            <div><img class="works-items__images" src="images/gray 6.png" alt="gray 6"></div>
            <div><img class="works-items__images" src="images/gray 1.png" alt="gray 1"></div>
            <div><img class="works-items__images" src="images/gray 2.png" alt="gray 2"></div>
            <div><img class="works-items__images" src="images/gray 3.png" alt="gray 3"></div>
            <div><img class="works-items__images" src="images/gray 4.png" alt="gray 4"></div>
            <div><img class="works-items__images" src="images/gray 5.png" alt="gray 5"></div>
            <div><img class="works-items__images" src="images/gray 6.png" alt="gray 6"></div>
        </div>
        <div class="works-bottom"><button class="works-bottom__btn">LOAD MORE</button></div>
    </div>
</div>